LIVEKIT_URL=<your LiveKit server URL>
LIVEKIT_API_KEY=<your API Key>
LIVEKIT_API_SECRET=<your API Secret>
OPENAI_API_KEY=<To use other providers, press Enter for now and edit .env.local>
DEEPGRAM_API_KEY="66466a8c8e554dd215778d1cb0d1ada8fdb2215c"
CARTESIA_API_KEY="sk_car_cXVHqWqYgERAAzRPxgBqak
